.App {
  text-align: center;
}
body{
  padding: 25px;
  font-family: monospace;
  background: #000;
  color:#dadada;
}
div#termScrollParent{
  overflow: Scroll;
}
div#termScrollParent::-webkit-scrollbar {
  display: none;
}

/*
div#termScrollChild{
  overflow-y: scroll;
}
*/
div#game {
  display: flex;
}
#game > div{
  padding: 15px;
}
#board {
  display: flex;
}
div#controls{
  padding-top: 10px;
  padding-left: 20px;
}
#controls > div {
  padding: 10px;
}
.cell {
  border: 1px solid #DDD;
  font-size: 8px;
  font-weight: bold;
  line-height: 25px;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 25px;
}
.alive {
  background: #76ed4c;
}

.dead {
  background: #000;
}
/*
  border: 1px solid fuchsia;
  */
/*
div#game > div{
  padding: 15px;
}
*/
